<style>
    a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }
</style>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Kode</th>
            <th scope="col">Nama Supplier</th>
            <th scope="col">Alamat</th>
            <th scope="col">Kota</th>
        </tr>
    </thead>
    <tbody>
        <% for(let supplier of suppliers) { %> 
            <tr>
                <th scope="row"><%= supplier.kode %></th>
                <td><a href="/suppliers/<%= supplier._id %>"><%= supplier.namaSupplier %></a></td>
                <td><%= supplier.alamatSupplier %></td>
                <td><%= supplier.kota %></td>
            </tr>
        <% } %> 
    </tbody>
</table>