<% layout('layouts/boilerplate') %> 

<style>
    #kode {
        border: 1px solid #B2BABB;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    .new-container {
        background-color: #D6EAF8;
        border: 1px solid #B2BABB;
        border-radius: 10px;
    }
    .new-form {
        margin: 20px 0px;
    }
</style>

<div class="container new-container">
    <h1>EDIT PEMBELIAN STOK</h1>
    <form action="/pembelianStok/<%= pembelianStok.nomorNota %>?_method=PUT" method="POST" class="new-form">
        <div class="edit-container mb-3">
            <label for="kode">No. nota</label>
            <br>
            <input type="text" name="nomorNota" id="nomorNota" placeholder="Nomor Nota" value="<%= pembelianStok.nomorNota %>" readonly="readonly">
        </div>
        <div class="input-group mb-3">
            <div class="col-md-2 col-sm-4 col-4">
                <span class="input-group-text text-light bg-dark" id="inputGroup-sizing-default">Tanggal</span>
            </div>
            <div class="col-md-10 col-sm-8 col-8">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="tanggal" id="tanggal" value="<%= pembelianStok.tanggal %>" hidden>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="tanggalShow" id="tanggalShow" value="<%= pembelianStok.tanggal.getDate() %>/<%= pembelianStok.tanggal.getMonth()+1 %>/<%= pembelianStok.tanggal.getFullYear() %>" readonly="readonly">
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="col-md-2 col-sm-4 col-4">
                <span class="input-group-text text-light bg-dark" id="inputGroup-sizing-default">Jenis</span>
            </div>
            <div class="col-md-10 col-sm-8 col-8">
                <select class="form-select choose-box" id="jenis" name="jenis">
                    <option selected value="<%= pembelianStok.jenis %>"><%= pembelianStok.jenis %></option>
                    <option value="TUNAI">TUNAI</option>
                    <option value="KREDIT">KREDIT</option>
                </select>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="col-md-2 col-sm-4 col-4">
                <span class="input-group-text text-light bg-dark" id="inputGroup-sizing-default">Kode Supplier</span>
            </div>
            <div class="col-md-10 col-sm-8 col-8">
                <select class="form-select choose-box" id="kodeSupplier" name="kodeSupplier">
                    <option selected value="<%= pembelianStok.kodeSupplier %>"><%= pembelianStok.kodeSupplier %></option>
                    <% for(let supplier of suppliers) {%>
                        <option value="<%= supplier.kode %>"><%= supplier.kode %> - <%= supplier.namaSupplier %></option>    
                    <% } %> 
                </select>
            </div>
        </div>
      <button class="btn btn-primary">Submit</button>
    </form>
    <a href="/pembelianStok/<%= pembelianStok.nomorNota %>">back</a>
  </div>
