<style>
    a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
    }
</style>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Kode</th>
            <th scope="col">Nama Stok</th>
            <th scope="col">Sat-K</th>
            <th scope="col">Sat-B</th>
            <th scope="col">Konv.</th>
            <th scope="col">Harga Jual-K</th>
            <th scope="col">Harga Jual-B</th>
        </tr>
    </thead>
    <tbody>
        <% stoks.forEach((stok, i) => { %> 
            <% if(i>=tempLowI && i<tempUpI) { %> 
                <tr>
                    <th scope="row"><%= stok.kode %></th>
                    <td><a href="/stoks/stok/<%= stok._id %>"><%= stok.namaStok %></a></td>
                    <td><%= stok.satuanKecil %></td>
                    <td><%= stok.satuanBesar %></td>
                    <td><%= stok.konversi %></td>
                    <td><%= stok.hargaJualKecil %></td>
                    <td><%= stok.hargaJualBesar %></td>
                </tr>
            <% } %>
        <% }) %>      
    </tbody>
</table>
<div class="mb-3">
    <% if(stoks.length > 20) {%>
        <% if(tempLowI == 0) {%> 
            <form action="/stoks/stok/next" method="POST" style ='float: right;'>
                <input type="text" name="lowI" id="lowI" value="<%= tempLowI %>" hidden>
                <input type="text" name="upI" id="upI" value="<%= tempUpI %>" hidden>
                <button class="btn btn-secondary">Next ></button>
            </form>
        <% } else { %>     
            <form action="/stoks/stok/previous" method="POST" style ='float: left;'>
                <input type="text" name="lowI" id="lowI" value="<%= tempLowI %>" hidden>
                <input type="text" name="upI" id="upI" value="<%= tempUpI %>" hidden>
                <button class="btn btn-secondary">< Previous</button>
            </form>
            <form action="/stoks/stok/next" method="POST" style ='float: right;'>
                <input type="text" name="lowI" id="lowI" value="<%= tempLowI %>" hidden>
                <input type="text" name="upI" id="upI" value="<%= tempUpI %>" hidden>
                <button class="btn btn-secondary">Next ></button>
            </form>
        <% } %>     
    <% } %>     
</div>